{{extend 'layout.html'}}

<h1 class="is-size-1">About</h1>

<hr/>

<div class="content">
  <p>
    <strong>Daily Learner</strong> was created by <a href="https://wyattades.com">Wyatt Ades</a>
    and <a href="https://github.com/Leo-Neat">Leo Neat</a>.
  </p>
  <p>
    It is an open source project made for a senior capstone class at University of California,
    Santa Cruz. <br/>You can view the source code <a href="https://github.com/wyattades/daily_learner">here</a>.
  </p>

  <h2>Acknowledgments</h2>
  <ul>
    <li>Backend: <a href="http://www.web2py.com/">Web2py</a></li>
    <li>CSS Framework: <a href="https://bulma.io/">Bulma</a></li>
    <li>SVG Icons: Designed by <a href="https://www.flaticon.com/authors/freepik">FreePik</a> from <a href="https://www.flaticon.com">FlatIcon</a></li>
  </ul>

</div>
