{{extend 'layout.html'}}


{{block head}}
<script src="{{=URL('static', 'js/particles.min.js')}}"></script>
{{end}}


{{block page_js}}
<script>
  particlesJS('particles', {
    particles: {
      size: {
        value: 3,
        random: true,
      },
      opacity: {
        value: 0.3,
      },
      line_linked: {
        opacity: 0.2,
      },
      number: {
        value: 120,
        density: {
          enable: true,
          value_area: 800,
        },
      },
      move: {
        out_mode: 'out',
        speed: 1,
      },
    },
  });
</script>
{{end}}


{{block header}}
<section class="hero is-primary is-large is-bold" id="particles">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">Daily Learner</h1>
      <p class="subtitle">Generic Machine Learning Made Easy</p>
    </div>
  </div>
</section>
{{end}}


<div class="content">
<h2>The ability to predict without the pain of machine learning software development</h2>
<p>
  Daily learner allows an average user with no programming experience to create a complex regression model.
  We have done all of the development for you, all you need to do is upload your data and predict away.
  This site utilizes state of the art machine learning techniques to develop a model for you.
</p>
<p>Possible applications</p>
<ul>
  <li>Stock price prediction</li>
  <li>Bio-Medical research data analysis</li>
  <li>Forest fires and natural disaster prediction</li>
  <li>Student's classroom performances</li>
  <li>Farming crop yield</li>
  <li>Any numeric data that needs to be analyzed</li>
</ul>

</div>
