{{extend 'layout.html'}}


{{block head}}
<script src="{{=URL('static', 'js/particles.min.js')}}"></script>
{{end head}}


{{block page_js}}
<script>
  particlesJS('particles', {
    particles: {
      size: {
        value: 3,
        random: true,
      },
      opacity: {
        value: 0.3,
      },
      line_linked: {
        opacity: 0.2,
      },
      number: {
        value: 120,
        density: {
          enable: true,
          value_area: 800,
        },
      },
      move: {
        out_mode: 'out',
        speed: 1,
      },
    },
  });
</script>
{{end page_js}}


{{block header}}
<section class="hero is-primary is-large is-bold" id="particles">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">Daily Learner</h1>
      <p class="subtitle">Generic Machine Learning Made Easy</p>
    </div>
  </div>
</section>
{{end header}}


<section>
  <h2 class="is-size-3 has-text-centered">The ability to predict without the pain of machine learning software development</h2>
  <br/>
  <p class="is-size-5">
    Daily learner allows an average user with no programming experience to create a complex regression model.
    We have done all of the development for you, all you need to do is upload your data and predict away.
    This site utilizes state of the art machine learning techniques to develop a model for you.
  </p>
</section>

<section class="section">
  <h2 class="is-size-3 has-text-centered has-text-weight-bold">Possible Applications</h2>
  <hr/>
  <div class="columns is-multiline">
    {{ for app, svg in [
      ('Stock price prediction', 'stocks.svg'),
      ('Bio-Medical research data analysis', 'bio.svg'),
      ('Forest fires and natural disaster prediction', 'disaster.svg'),
      ('Student\'s classroom performances', 'students.svg'),
      ('Farming crop yield', 'crops.svg'),
      ('Any numeric data that needs to be analyzed', 'numeric.svg'),
    ]: }}
    <div class="column is-one-third">
      <center>
        <img src="{{=URL('static', 'images/' + svg)}}" alt="{{=app}}" width="50%"/>
        <br/>
        <br/>
        <h4 class="is-size-4">{{=app}}</h4>
      </center>
    </div>
    {{pass}}
  </div>
  <hr/>
</section>

<section>
  <center>
    <a class="button is-success is-medium" href="{{=URL('default', 'session')}}">Start Machine Learning!</a>
  </center>
</section>