{{extend 'layout.html'}}

{{block page_js}}
{{if 'session_data' in globals() and session_data:}}
<script>
  var API = {
    train_model: "{{=URL('api', 'train_model/{}'.format(session_data.id), user_signature=True)}}",
    training_status: "{{=URL('api', 'training_status/{}'.format(session_data.id), user_signature=True)}}",
    predict: "{{=URL('api', 'predict/{}'.format(session_data.id), user_signature=True)}}",
  };

  var $train = $('#train');

  var interval;
  function update_training_status() {
    $.get(API.training_status, ({ training }) => {
      if (training && !interval) interval = setInterval(update_training_status, 1000);
      else if (!training && interval) clearInterval(interval);
      $train.attr('disabled', training);
      $train.text(training ? 'Training...' : 'Train Model');
    });
  }
  update_training_status();

  function trainModel() {
    $.get(API.train_model, () => {
      $train.attr('disabled', true);
      $train.text('Training...');
      update_training_status();
    });
  }
  $train.click(trainModel);

</script>
{{pass}}
{{end}}

<section class="section">
  <div class="container">
    <h1 class="is-size-1">{{=title}}</h1>
    {{include 'breadcrumbs.html'}}
    {{if 'session_data' in globals() and session_data:}}
    <!-- <div class="card">
      <header class="card-header">
        <p class="card-header-title">Description</p>
      </header>
      <div class="card-content">
        {{=session_data.description}}
      </div>
    </div> -->
    <pre>{{=session_data.description}}</pre>
    <br/>
    <div class="box">
      <button class="button is-primary" id="train">Train Model</button>
      <span id="status"></span>
    </div>
    {{pass}}
    <br/>
    
    {{=grid}}
  </div>
</section>

{{ if ('analytics' in globals()) and analytics:}}
<section class="section">
  <div class="container">
    <h2 class="is-size-2">Analytics</h2>
    {{=analytics}}
    <br/>
    <a class="button" href="{{=URL('default', 'session/%s/predict' % request.args(0))}}">Predict</a>
  </div>
</section>
{{pass}}
