{{extend 'layout.html'}}

{{block page_js}}
{{if 'session_data' in globals() and session_data:}}
<script>
  var API = {
    train_model: "{{=URL('api', 'train_model/{}'.format(session_data.id), user_signature=True)}}",
    training_status: "{{=URL('api', 'training_status/{}'.format(session_data.id), user_signature=True)}}",
    predict: "{{=URL('api', 'predict/{}'.format(session_data.id), user_signature=True)}}",
  };

  var $train = $('#train');
  var $disabled = $('.training-disabled');

  var interval;
  function update_training_status() {
    $.get(API.training_status, ({ training }) => {
      if (training && !interval) interval = setInterval(update_training_status, 1000);
      else if (!training && interval) clearInterval(interval);
      $disabled.attr('disabled', training);
      $train.text(training ? 'Training...' : 'Train Model');
    });
  }
  update_training_status();

  function trainModel() {
    $.get(API.train_model, () => {
      $disabled.attr('disabled', true);
      $train.text('Training...');
      update_training_status();
    });
  }
  $train.click(trainModel);

</script>
{{pass}}
{{end}}

<section class="section">
  <div class="container">
    <h1 class="is-size-1">{{=title}}</h1>
    {{if 'session_data' in globals() and session_data:}}
    <a class="button is-pulled-right" href="{{=URL('default', 'session/edit/sessions/{}'.format(session_data.id))}}">
      <span class="fas fa-edit"></span> <span>Edit Session</span>
    </a>
    {{pass}}
    {{include 'breadcrumbs.html'}}
    {{if 'session_data' in globals() and session_data:}}
    {{ if session_data.description: }}
    <pre>{{=session_data.description}}</pre>
    {{ pass }}
    <br/>
    <div class="box">
      <p>Blah blah blah machine learning</p><br/>
      <div class="buttons">
        <button class="button is-primary training-disabled" id="train">Train Model</button>
        <button class="button is-warning training-disabled" onclick="window.location.href='{{=URL('default', 'session/{}/predict'.format(session_data.id))}}'">Predict</button>
      </div>
    </div>
    <button class="button training-disabled" onclick="window.location.href='{{=URL('default', 'session/{}/import'.format(session_data.id))}}'">
      <span class="fas fa-upload"></span> <span>Bulk Import</span>
    </button>
    {{pass}}
    <br/>
    
    {{=grid}}
  </div>
</section>

{{ if 'analytics' in globals() and analytics:}}
<section class="section">
  <div class="container">
    <h2 class="is-size-2">Analytics</h2>
    {{=analytics}}
  </div>
</section>
{{pass}}
