{{extend 'layout.html'}}

<section class="section">
  <div class="container">
    <h1 class="is-size-1">{{=title}}</h1>
    {{if len(crumbs) > 1:}}
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        {{for crumb in crumbs[:-1]:}}
        <li><a href="{{=crumb[1]}}">{{=crumb[0]}}</a></li>
        {{pass}}
        <li class="is-active"><a href="{{=crumbs[-1][1]}}" aria-current="page">{{=crumbs[-1][0]}}</a></li>
      </ul>
    </nav>
    {{pass}}
    <br/>
    
    {{=grid}}
  </div>
</section>

{{ if ('analytics' in globals()) and analytics:}}
<section class="section">
  <div class="container">
    <h2 class="is-size-2">Analytics</h2>
    {{=analytics}}
    <br/>
    <a class="button" href="{{=URL('default', 'session/%s/calculate' % request.args(0))}}">Calculator</a>
  </div>
</section>
{{pass}}
