@import 'bulma';
// Import material icons

// This file contains any custom styling

// Make footer stick to bottom if page is too short
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main.main-content {
  flex: 1;
}

// Navbar shadow transition
.navbar {
  transition: box-shadow 0.3s ease-in-out;
}

// Web2py's button row
.row_buttons {
  text-align: right;
  & > :not(:last-child) {
    margin-right: 16px;
  }
}

.is-displaynone {
  display: none;
}

// Fix more button spacing
.control > .button + .button {
  margin-left: 16px;
}

// Fix button spacing
.button > .fas:first-child {
  margin-right: 8px;
}

// Flash position
.flash {
  margin: 0 !important;
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 400px;
}

// Fix file-input `required` notification
.file-input {
  width: 1px;
  height: 1px;
  opacity: 0;
  left: 50%;
  top: unset;
  bottom: 0;
}

// Particles background
#particles {
  position: relative;

  // :first-child {
  //   z-index: 1;
  // }

  .particles-js-canvas-el {
    position: absolute;
    // z-index: 0;
  }
}

.hero.is-primary {
  text-shadow: -1px 5px 6px rgba(0,0,0,0.1), 10px 5px 5px rgba(0,0,0,0.1), -10px 5px 5px rgba(0,0,0,0.05);
  &.is-bold {
    $color: $primary;
    $gradient-middle: darken(saturate(adjust-hue($color, 10deg), 10%), 10%);
    $gradient-bottom: darken(saturate(adjust-hue($color, 30deg), 15%), 20%);
    background: linear-gradient(180deg, $color 20%, $gradient-middle 60%, $gradient-bottom 100%);
  }
}

.empty-section .section {
  padding: 0;
}

.Step {
  padding-bottom: 40px;
}
